<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD319dQBQ49a8OwaYBvqQoks-wc9DsiwcU</string>
	<key>GCM_SENDER_ID</key>
	<string>655558659739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fsspot.fscourrier</string>
	<key>PROJECT_ID</key>
	<string>fsspot-vendor-uer</string>
	<key>STORAGE_BUCKET</key>
	<string>fsspot-vendor-uer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655558659739:ios:218388eeb14f94a0d3c03e</string>
</dict>
</plist>